<!DOCTYPE html>
<html>
    <head>
        <title>All Products</title>
        <link href="~/Stylesheet.css" rel="stylesheet" />
    </head>
    <body>
        <div class="page-content">
            <h1>All Poducts</h1>
        </div>
    </body>
</html>

